@import "./default.scss";

.main_layout{
	display: flex;
	background: rgba(246, 246, 246, 0.5);
}

.isClose.home_section{
	left : 78px;
    width: calc(100vw - 78px);
}
.home_section{
	position: relative;
    background-color: #E4E9F7;
    left: 260px;
    width : calc(100vw - 260px);
    height : 100vh;
    transition: all 0.5s ease;
}