@import "./default.scss";

.main_layout{
	display: flex;
}

.isClose.home_section{
	left : 78px;
    width: calc(100% - 78px);
}
.home_section{
	position: relative;
    background-color: #E4E9F7;
    left: 260px;
    width : calc(100% - 260px);
    min-height: 100vh;
    transition: all 0.5s ease;
	flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
	
}

.main_content{
	display: flex;
	min-height: 100vh; 
	flex-direction: column;
	width: 768px;
}

@media only screen and (max-width: 768px) {
	.main_content {
		width: 100%;
	}
}