.sidebar{
    position: fixed;
    top:0;
    left: 0;
    height : 100%;
    width:260px;
    background-color : #11101d;
    z-index : 100; //이거 왜하는거지
    transition: all 0.5s ease;

    .logo_details{
        height: 60px;
        width : 100%;
        display: flex;
        align-items: center;

        i{
            font-size : 30px;
            text-align: center;
            color : #fff;
            height : 50px;
            min-width : 78px;
            line-height : 50px;
            cursor: pointer;
        }
        .logo_name{
            font-size : 22px;
            color : #fff;
            font-weight : 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }
    }
    .nav_links{
        
        height : 100%;
        padding : 30px 0 150px 0;
        overflow: auto;
        li{
            position:relative;
            list-style: none;
            transition: all 0.4s ease;
            :hover{
                background-color: #1d1b31;
                .sub_menu.blank{
                    top:50%;
                    transform: translateY(-50%);
                }
            }
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                .link_name{
                    font-size : 18px;
                    font-weight : 400;
                    color : #fff;
                }
            }
            i{
                text-align: center;
                height : 50px;
                min-width : 78px;
                line-height : 50px;
                color : #fff;
                font-size: 20px;
                transition: all 0.3s ease;
                cursor : pointer;
            }
            .icon_link{
                display:flex;
                align-items: center;
                justify-content: space-between;
            }
            .sub_menu{
                background-color: #1d1b31;
                padding: 6px 6px 14px 80px;
                margin-top : -10px;
                display:none;
                a{
                    color : #fff;
                    font-size:15px;
                    padding: 5px 0px;
                    white-space: nowrap;
                    opacity: 0.6;
                    transition: all 0.3 ease;
                }
                a:hover{
                    opacity : 1;
                }
                .link_name{
                    display:none;
                }
              
            }
            .sub_menu.blank{
                opacity: 1; 
                pointer-events: auto; 
                padding: 3px 20px 6px 16px;
                opacity:0;
                pointer-events: none;
                
            }
        }
        li.showMenu{
            .sub_menu{
                display:block;
            }
            i.arrow{
                transform: rotate(-180deg);
            }
        }
    }
    .nav_links::-webkit-scrollbar{
        display:none;
    }
    .profile_details{
        position : fixed;
        bottom:0;
        width: 260px;
        display : flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1d1b31;
        padding : 6px 0;
        transition: all 0.5s ease;
        .profile_content{
            display: flex;
            align-items: center;
        }
        img{
            height:52px;
            width:52px;
            object-fit : cover;
            border-radius: 16px;
            margin: 0 14px 0 12px;
            transition: all 0.5s ease;
        }
        .profile_name{
            color: #fff;
            font-size : 18px;
            font-weight : 500;
            white-space : nowrap;
        }
        .job{
            color: #fff;
            font-size : 12px;
            font-weight : 500;
            white-space : nowrap;
        }
    }
}

// .close {
//     .nav_links {
//         li{
//             .sub_menu{
//                 position: absolute;
//                 left:100%;
//                 top: -10px;
//                 margin-top:0;
//                 padding: 10px 20px;
//                 border-radius: 0 6px 6px 0;
//                 transition: all 0.4s ease;
//                 opacity: 0; /* 숨기처리 */
//                 pointer-events: none; /* 숨김처리시 이벤트도 발생안되게 막기*/
//                 .link_name{
//                     font-size : 18px;
//                     opacity:1;
//                     display:block;
//                 }
//             }
//         }
//         li:hover{
//             .sub_menu{
//                 top:0;
//                 opacity: 1; /* 숨기해제 */
//                 pointer-events: auto; /* 비활성화된 이벤트 다시 실행*/
//             }
//         }
//     }
// }
// .sidebar.close .nav_links{
//     overflow: visible;
// }
// .sidebar.close .nav_links li a .link_name{
//     opacity: 0;
//     pointer-events: none; 
// }
// .sidebar.close .nav_links i.arrow{
//     display:none;
// }




.sidebar.close {
    width: 78px;
    .logo_details{
        .logo_name{
            opacity: 0;
            pointer-events: none;
            transition-delay: 0s;
        }
    }
    .nav_links {
        overflow: visible;
        li{
            .sub_menu{
                position: absolute;
                left:100%;
                top: -10px;
                margin-top:0;
                padding: 10px 20px;
                border-radius: 0 6px 6px 0;
                opacity: 0; /* 숨기처리 */
                pointer-events: none; /* 숨김처리시 이벤트도 발생안되게 막기*/
                display: block;
                transition: 0s;
                .link_name{
                    font-size : 18px;
                    opacity:1;
                    display:block;
                }
            }
            a{
                .link_name{
                    opacity: 0;
                    pointer-events: none;
                }
            }
            .icon_link{
                display:block;
            }
        }
        li:hover{
            .sub_menu{
                top:0;
                opacity: 1; /* 숨기해제 */
                pointer-events: auto; /* 비활성화된 이벤트 다시 실행*/
                transition: all 0.4s ease;
            }
        }
        i.arrow{
            display:none;
        }
    }
    .profile_details{
        width: 78px;
        background:none;
        i{
            display:none;
        }
        .profile_name{
            display:none;
        }
        .job{
            display:none;
        }
        img{
            padding: 10px;
        }
    }
    
}

// .sidebar.close{
//     width: 78px;
//     .logo_details{
//         .logo_name{
//             opacity: 0;
//             pointer-events: none;
//             transition-delay: 0s;
//         }
//     }
//     .nav_links{
//         li{
//             .sub_menu{
//                 .link_name{
//                     display:none;
//                 }
//             }
//         }
//     }
// }



// .sidebar.close ~ .home_section{
//     left : 78px;
//     width: calc(100vw - 78px);
// }

// .home_section{
//     position: relative;
//     background-color: #E4E9F7;
//     left: 260px;
//     width : calc(100vw - 260px);
//     height : 100vh;
//     transition: all 0.5s ease;
//     .home_content{
//         height : 60px;
//         display: flex;
//         align-items: center;
//         i,.text{
//             color:#11101d;
//             font-size: 35px;
//             font-weight : 600;
//         }
//         .text{
//             font-size : 26px;
//         }
//         i{
//             margin : 0 15px;
//             cursor: pointer;
//         }
//     }
// }
