@import "./default.scss";

/*
.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 300;
	// display: none;

}
*/

.overlay.onmenu{
	display: none;
}

.Login_Popup_Wrap{

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.Login_Popup_Wrap.overlay{
    background: rgba(0, 0, 0, 0.7);
}

.loginModal{
    width: 480px;
    height: 620px;
    background-color: white;
    position : relative;
    padding: 20px;
    border-radius: 15px;
}
.loginClose{
    font-size: 25px;
    float: right;
    padding : 5px;
    cursor: pointer;
}
.modalContents{
    width: 100%;
    position: relative;
    display: flex;  
}

.loginId {
    margin-top: 30px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
}
.loginPw {
    margin-top: 15px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 9px 12px;
}

.loginMid{
    display : flex;
    justify-content: space-between;
    align-items: center;
    .autoLogin{
        font-size: 12px;
        color: #8d8d8d;
        line-height: 3;
    }
}


.loginBtn{
    width : 100%;
    height: 40px;
    font-size: 14px;
    padding: 13px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    line-height: 1px;
    margin-top: 20px;
    margin-bottom: 12px;
    border-radius: 3px;
    border-style: none;
}




